body {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

/* #grad {
    background-image: linear-gradient(red, yellow);
} */

/* div {
    background: linear-gradient(to bottom, #99ccff 36%, #cc00cc 100%);
} */

.buttons{
    justify-content: center;
    display: flex;
    /* flex: auto; */
    flex-direction: row;
    margin-bottom: 5px;
}

.button1{
    margin-right: 30px;
}
